@charset 'utf-8';

/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> ANIMATIONS -> SLIDE -> EXIT -> SLIDE OUT DOWN
    ========================================================================  */

.slide-out-down {
    // Variables
    --animation-delay: var(--default-animation-slide-out-delay);
    --animation-distance: var(--default-animation-slide-out-distance);
    --animation-duration: var(--default-animation-slide-out-duration);
    --animation-easing: var(--default-animation-slide-out-easing);
}
