@charset 'utf-8';

/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> ANIMATIONS -> FADE -> EXIT -> FADE OUT
    ========================================================================  */

.fade-out {
    // Variables
    --animation-delay: var(--default-animation-fade-out-delay);
    --animation-duration: var(--default-animation-fade-out-duration);
    --animation-easing: var(--default-animation-fade-out-easing);
}
