@charset 'utf-8';

/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> ANIMATIONS -> BOUNCE -> EXIT -> BOUNCE OUT DOWN
    ========================================================================  */

.bounce-out-down {
    // Variables
    --animation-delay: var(--default-animation-bounce-out-delay);
    --animation-distance: var(--default-animation-bounce-out-distance);
    --animation-duration: var(--default-animation-bounce-out-duration);
    --animation-easing: var(--default-animation-bounce-out-easing);
}
