@charset 'utf-8';

/*  ========================================================================
    JUICE -> SETTINGS
    ========================================================================  */

// Import
@import 'just-add-juice/resources/sass/settings/all';
@import 'themes/custom/settings/all';


/*  ========================================================================
    JUICE -> UTILITIES
    ========================================================================  */

// Import
@import 'just-add-juice/resources/sass/utilities/all';
@import 'themes/custom/utilities/all';


/*  ========================================================================
    JUICE -> VARIABLES -> SASS
    ========================================================================  */

// Import
@import 'just-add-juice/resources/sass/variables/sass/all';
@import 'themes/custom/variables/sass/all';


/*  ========================================================================
    JUICE -> MERGE -> SASS
    ========================================================================  */

// Merge the custom breakpoints with the juice breakpoints
$breakpoints: map-merge($breakpoints, $custom-breakpoints);

// Merge the custom colors with the juice colors
$colors: map-merge($colors, $custom-colors);

// Merge the custom font colors with the juice font colors
$font-colors: map-merge($font-colors, $custom-font-colors);

// Merge the custom feedback colors with the juice feedback colors
$feedback-colors: map-merge($feedback-colors, $custom-feedback-colors);

// Merge the custom stack indexes with the juice stack indexes
$stack-indexes: map-merge($stack-indexes, $custom-stack-indexes);

// Merge the custom easings with the juice easings
$custom-easings: map-merge($easings, $custom-easings);


/*  ========================================================================
    JUICE -> VARIABLES -> CSS
    ========================================================================  */

// Import
@import 'just-add-juice/resources/sass/variables/css/all';
@import 'themes/custom/variables/css/all';


/*  ========================================================================
    JUICE -> FRAMEWORK
    ========================================================================  */

// Import
@import 'just-add-juice/resources/sass/framework/all';
@import 'themes/custom/framework/all';


/*  ========================================================================
    JUICE -> ELEMENTS
    ========================================================================  */

@import 'just-add-juice/resources/sass/elements/all';
@import 'themes/custom/elements/all';


/*  ========================================================================
    JUICE -> COMPONENTS
    ========================================================================  */

@import 'just-add-juice/resources/sass/components/all';
@import 'themes/custom/components/all';


/*  ========================================================================
    JUICE -> ANIMATIONS
    ========================================================================  */

@import 'just-add-juice/resources/sass/animations/all';
@import 'themes/custom/animations/all';


/*  ========================================================================
    JUICE -> HELPERS
    ========================================================================  */

@import 'just-add-juice/resources/sass/helpers/all';
