@charset 'utf-8';

/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> MAPS -> BREAKPOINTS
    ========================================================================  */

// Custom breakpoints
$custom-breakpoints: ();


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> MAPS -> COLORS
    ========================================================================  */

// Custom colors
$custom-colors: ();


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> MAPS -> FONT COLORS
    ========================================================================  */

// Custom font colors
$custom-font-colors: ();


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> MAPS -> FEEDBACK COLORS
    ========================================================================  */

// Custom feedback colors
$custom-feedback-colors: ();


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> MAPS -> STACK INDEXES
    ========================================================================  */

$custom-stack-indexes: ();


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> MAPS -> EASINGS
    ========================================================================  */

$custom-easings: ();
