@charset 'utf-8';

/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> FRAMEWORK -> CORE
    ========================================================================  */

$selection-pseudo-elements: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> BUTTON -> BUTTON
    ========================================================================  */

$button-color-modifiers: true;
$button-component-modifier: true;
$button-feedback-modifiers: true;
$button-flat-modifier: true;
$button-icon-modifier: true;
$button-outline-modifier: true;
$button-pill-modifier: true;
$button-round-modifier: true;
$button-size-modifiers: true;
$button-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> BUTTON -> BUTTON GROUP
    ========================================================================  */

$button-group-color-modifiers: true;
$button-group-component-modifier: true;
$button-group-feedback-modifiers: true;
$button-group-flat-modifier: true;
$button-group-icon-modifier: true;
$button-group-outline-modifier: true;
$button-group-pill-modifier: true;
$button-group-round-modifier: true;
$button-group-size-modifiers: true;
$button-group-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> INPUT
    ========================================================================  */

$input-feedback-modifiers: true;
$input-honeypot-modifier: true;
$input-pill-modifier: true;
$input-size-modifiers: true;
$input-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> LABEL
    ========================================================================  */

$label-feedback-modifiers: true;
$label-inline-modifier: true;
$label-size-modifiers: true;
$label-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> SELECT
    ========================================================================  */

$select-feedback-modifiers: true;
$select-pill-modifier: true;
$select-size-modifiers: true;
$select-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> TEXTAREA
    ========================================================================  */

$textarea-feedback-modifiers: true;
$textarea-resize-modifier: true;
$textarea-scrollbar-modifier: true;
$textarea-size-modifiers: true;
$textarea-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> CUSTOM -> CONTROL
    ========================================================================  */

$form-control-feedback-modifiers: true;
$form-control-size-modifiers: true;
$form-control-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> CUSTOM -> CHECKBOX
    ========================================================================  */

$custom-checkbox-size-modifiers: true;
$custom-checkbox-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> CUSTOM -> FILE
    ========================================================================  */

$custom-file-feedback-modifiers: true;
$custom-file-size-modifiers: true;
$custom-file-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> FORM -> CUSTOM -> RADIO
    ========================================================================  */

$custom-radio-size-modifiers: true;
$custom-radio-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> ICON -> SHIELD
    ========================================================================  */

$shield-color-modifiers: true;
$shield-feedback-modifiers: true;
$shield-size-modifiers: true;
$shield-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> LAYOUT -> BOX
    ========================================================================  */

$box-size-modifiers: true;
$box-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> LAYOUT -> HERO
    ========================================================================  */

$hero-color-modifiers: true;
$hero-feedback-modifiers: true;
$hero-parallax-modifier: true;
$hero-viewport-modifiers: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> LAYOUT -> MEDIA OBJECT
    ========================================================================  */

$media-object-reverse-modifiers: true;
$media-object-seamless-modifiers: true;
$media-object-size-modifiers: true;
$media-object-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> LAYOUT -> TABLE
    ========================================================================  */

$table-border-modifiers: true;
$table-size-modifiers: true;
$table-size-modifier-breakpoints: true;
$table-stripe-modifier: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> MEDIA -> IMAGE
    ========================================================================  */

$image-alignment-modifiers: true;
$image-round-modifier: true;
$image-size-modifiers: true;
$image-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> NAVIGATION -> BREADCRUMB
    ========================================================================  */

$breadcrumb-alignment-modifiers: true;
$breadcrumb-angle-separator-modifier: true;
$breadcrumb-arrow-separator-modifier: true;
$breadcrumb-bullet-separator-modifier: true;
$breadcrumb-slash-separator-modifier: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> NAVIGATION -> PAGINATION
    ========================================================================  */

$pagination-alignment-modifiers: true;
$pagination-size-modifiers: true;
$pagination-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> AABR
    ========================================================================  */

$abbr-color-modifiers: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> BLOCKQUOTE
    ========================================================================  */

$blockquote-size-modifiers: true;
$blockquote-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> HORIZONTAL RULE
    ========================================================================  */

$horizontal-rule-color-modifiers: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> LIST
    ========================================================================  */

$list-clear-modifier: true;
$list-size-modifiers: true;
$list-size-modifier-breakpoints: true;
$list-style-type-modifiers: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> MARK
    ========================================================================  */

$mark-size-modifiers: true;
$mark-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> PARAGRAPH
    ========================================================================  */

$paragraph-size-modifiers: true;
$paragraph-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> ELEMENT -> TYPOGRAPHY -> PREFORMATTED
    ========================================================================  */

$code-size-modifiers: true;
$code-size-modifier-breakpoints: true;
$kbd-size-modifiers: true;
$kbd-size-modifier-breakpoints: true;
$pre-size-modifiers: true;
$pre-size-modifier-breakpoints: true;
$samp-size-modifiers: true;
$samp-size-modifier-breakpoints: true;
$var-size-modifiers: true;
$var-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> ACCORDION
    ========================================================================  */

$accordion-color-modifiers: true;
$accordion-size-modifiers: true;
$accordion-size-modifier-breakpoints: true;
$accordion-spaced-modifier: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> CARD
    ========================================================================  */

$card-size-modifiers: true;
$card-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> CHIP
    ========================================================================  */

$chip-color-modifiers: true;
$chip-feedback-modifiers: true;
$chip-pill-modifier: true;
$chip-size-modifiers: true;
$chip-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> DROPDOWN
    ========================================================================  */

$dropdown-alignment-modifiers: true;
$dropdown-megamenu-modifier: true;
$dropdown-size-modifiers: true;
$dropdown-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> NOTICE
    ========================================================================  */

$notice-feedback-modifiers: true;
$notice-size-modifiers: true;
$notice-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> PANEL
    ========================================================================  */

$panel-color-modifiers: true;
$panel-feedback-modifiers: true;
$panel-size-modifiers: true;
$panel-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> POPOVER
    ========================================================================  */

$popover-alignment-modifiers: true;
$popover-color-modifiers: true;
$popover-feedback-modifiers: true;
$popover-size-modifiers: true;
$popover-size-modifier-breakpoints: true;


/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> VARIABLES -> SASS -> SETTINGS -> COMPONENT -> TOOLTIP
    ========================================================================  */

$tooltip-alignment-modifiers: true;
$tooltip-color-modifiers: true;
$tooltip-feedback-modifiers: true;
$tooltip-size-modifiers: true;
$tooltip-size-modifier-breakpoints: true;
