@charset 'utf-8';

/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> ANIMATIONS -> SLIDE -> ENTRANCE -> SLIDE IN UP
    ========================================================================  */

.slide-in-up {
    // Variables
    --animation-delay: var(--default-animation-slide-in-delay);
    --animation-distance: var(--default-animation-slide-in-distance);
    --animation-duration: var(--default-animation-slide-in-duration);
    --animation-easing: var(--default-animation-slide-in-easing);
}
