@charset 'utf-8';

/*  ========================================================================
    JUICE -> THEMES -> CUSTOM -> ANIMATIONS -> FADE -> ENTRANCE -> FADE IN
    ========================================================================  */

.fade-in {
    // Variables
    --animation-delay: var(--default-animation-fade-in-delay);
    --animation-duration: var(--default-animation-fade-in-duration);
    --animation-easing: var(--default-animation-fade-in-easing);
}
